#kk {
    font-size: 50px;
}

.para {
    padding: 100px;
    padding-bottom: 0px;
    font-size: 40px;
    text-align: center;
}

.hey {
    padding: 10%;
}

.bbb {
    background-color: black;
}

body {
    background-color: whitesmoke;
}

#display {
    padding: 5%;
    font-size: 40px;
    text-align: center;
    display: none;
}

.cont {
    padding: 10%;
}